<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 *ngIf="medico" class="box-title m-b-0">Medico : {{ medico.nombre }}</h3>
            <h3 *ngIf="!medico" class="box-title m-b-0">Medico : </h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardarMedico()">
                        <div class="form-group">
                            <label>Nombre Médico</label>
                            <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del Médico" required>
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="cambioHospital( $event.target.value )" formControlName="hospital" name="hospital" class="form-control" required>
                                <option value="">Seleccione Hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                    {{ hospital.nombre }}
                                </option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="far fa-save"></i>
                                Guardar
                            </button>
                            <a routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Hospital</h4>
            <img [src]="hospitalImagen.img | imagen:'hospital'" class="rounded img-fluid">
            <br>
            <h5 class="text-center">{{ hospitalImagen.nombre }}</h5>
        </div>

    </div>
    <div class="col-md-3" *ngIf="medico">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografia Médico</h4>
            <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" class="img-circle img-fluid pointer">
        </div>
    </div>
</div>