<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del Usuario</h4>
                <h6 class="card-subtitle"> {{ usuario.nombre }} </h6>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )" class="form p-t-20">

                    <div class="form-group">
                        <label for="validationCustomUsername">Nombre Usuario</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de Usuario" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo de Usuario</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-email"></i></span>
                            </div>
                            <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Correo del usuario">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                            <i class="fas fa-save fa-lg"></i>
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Fotografia del Usuario</h4>
                <h6 class="card-subtitle">{{ usuario.nombre }}</h6>

                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

                <br>
                <br>
                <input (change)="seleccionImagen( $event.target.files[0] )" type="file" name="" id="">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fas fa-save fa-lg"></i>  Actualizar foto
                </button>
            </div>
        </div>
    </div>
</div>